body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  background-color: rgb(40, 44, 52);
  color: white;
  font-size: calc(10px + 2vmin);
}

#content {
  padding-top: 100px;
  min-height: 100vh;
  margin-left: 15px;
  margin-right: 15px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: calc(2rem + 20px);
}

h3 {
  margin-bottom: 0;
  font-size: 2em;
  margin-top: 50px !important;
}

p {
  margin-top: 5px;
}

.center-content {
  width: 1000px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.center {
  background-color: rgb(40, 44, 52);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 0;
}

.center-all {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 50px;
  z-index: 100;
  background-color: rgb(40, 44, 52);
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.contact-link {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  margin-right: 10px;
}

.contact-link:hover {
  color: rgba(255, 255, 255, 1);
}

.link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  margin: 10px;
}

.link:hover {
  color: white;
}

.artist-img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.artist-profile {
  display: flex;
  padding: 10px;
  padding-right: 4px;
  width: 246px;
  font-size: calc(5px + 2vmin);
}

.artist-profile:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.artist-name {
  color: rgba(255, 255, 255, 0.5);
}

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

#profile-container {
  display: flex;
  flex-wrap: wrap;
}

line#limit {
  stroke-width: 2;
}

.value {
  pointer-events: none;
}

.select-genre {
  position: absolute;
  right: 16vw;
  top: 17vh;
}

h1 {
  position: relative;
  top: 0px;
}

.chart {
  color: white;
}

.list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 60px;
  padding-right: 40px;
}
.list-item img {
  padding-left: 20px;
}

#equation {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.equation-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#equation div {
  padding: 30px;
}

#central-thesis {
  font-size: 50px;
}

.method-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.method {
  padding-top: 100px;
}

.center {
  top: 50px;
  left: 50px;
}

.pitchfork-chart {
  padding-top: 10vh;
  padding-left: 10vw;
}

#search-form {
  max-width: 1000px;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 61%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.loading {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#github-icon {
  height: 1.25em;
  margin-right: 20px;
}

* {
  outline: none;
}

body {
  margin: 0;
  background-color: #ffd8d8;
}

.tb {
  display: flex;
  align-items: center;
  width: 100%;
}

/* .td {
  display: table-cell;
  vertical-align: middle;
} */

input,
button {
  color: black;
  /* font-family: Nunito; */
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#cover {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  width: 225px;
  padding: 15px;
  margin: -42px auto 0 auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  /* box-shadow: 0 5px 20px rgb(40, 44, 52), 0 0 0 10px rgba(255, 255, 255, 0.922); */
}

form {
  height: 15px;
  display: flex;
  align-items: center;
}

input[type='text'] {
  width: 100%;
  height: 17px;
  font-size: 15px;
  line-height: 1;
}

input[type='text']::placeholder {
  color: rgb(40, 44, 52);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

#s-cover {
  width: 1px;
  padding-left: 35px;
}

button {
  position: relative;
  display: block;
  width: 13px;
  height: 15px;
  cursor: pointer;
}

#s-circle {
  position: relative;
  top: -8px;
  left: 0;
  width: 20px;
  height: 20px;
  margin-top: 0;
  border-width: 2px;
  border: 4px solid rgb(40, 44, 52);
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
  left: -40px;
}

button span {
  position: absolute;
  top: 18px;
  left: 18px;
  display: block;
  width: 10px;
  height: 4px;
  background-color: transparent;
  border-radius: 10px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
  left: -20px;
}

button span:before,
button span:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 22px;
  height: 4px;
  background-color: rgb(40, 44, 52);
  border-radius: 5px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
  /* left: -20px; */
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 26px;
  height: 4px;
  border-width: 0;
  background-color: rgb(40, 44, 52);
  border-radius: 10px;
  /* left: -20px; */
}

#s-cover:hover span {
  top: 50%;
  left: 28px;
  width: 12px;
  margin-top: -4px;
  transform: rotateZ(0);
  left: -10px;
}

#s-cover:hover button span:before {
  bottom: 5px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:after {
  bottom: -5px;
  transform: rotateZ(-52deg);
}
#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: -3px;
  width: 20px;
  background-color: rgb(40, 44, 52);
  /* left: -20px; */
}
